* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
}

html {
    background: rgb(4, 4, 4);
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    overflow: auto;
}

.title,
.score-board {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: white;
}

.title__text {
    font-size: 38px;
    text-align: center;
}

.card-board {
    width: 100%;
    display: grid;
    padding: 15px 20px;
    margin-top: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 270px));
    justify-content: space-around;
    column-gap: 10px;
    row-gap: 20px;
}

.card {
    text-align: center;
    outline: none;
    cursor: pointer;
    font-size: 19px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    font-weight: 800;
    letter-spacing: 1px;
}